<div class="container">
  <div class="row">
    <h1><%= @repository.name.titleize %></h1>    
  </div>
  <div class="col-md-6">
    <h3>Stars: <%= @repository.stars %></h3>
  </div>
  <div class="col-md-6">
    <h3><%= @repository.description %></h3>
  </div>
</div>
