<body>
    <!-- Page Header -->
    <div class="navbar navbar-inverse">
      <div class="row">
        <div class="container">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path %>
          <% end %>
        </div>
      </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://codeandomexico.org"><%= image_tag('logo.png')%></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right quitar-respo">
                    <li class="facebook">
                        <a href="https://www.facebook.com/CodeandoMexico/" target="_blank">
                            <%= image_tag('face.png') %>
                        </a>
                        <span>Facebook</span>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/codeandomexico" target="_blank">
                            <%= image_tag('twitter.png') %>
                        </a>
                        <span>Twitter</span>
                    </li>
                    <li class="github">
                        <a href="https://github.com/CodeandoMexico" target="_blank">
                            <%= image_tag('github.png') %>
                        </a>
                        <span>Github</span>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right aparecer-respo">
                    <li>Proyectos abiertos</li>
                    <li>Participa</li>
                    <li>Comunidad</li>
                    <li>Nuestro propósito</li>
                    <li>Newsletter</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--/.navbar -->

    <div class="wide">
        <h1 class="title">Tecnología de hoy para la ciudadanía de mañana</h1>
        <h2 class="sub-title">Codeando México es una comunidad que busca desarrollar tecnología para construir un mejor país.</h2>
    </div>
    <!-- /.end Page Header -->
    <div class="clearfix"></div>

    <!-- Section: ¿Qué hacemos? -->
    <section id="about">
        <div class="container">
            <div id="what-do">
                <div class="col-xs-12 container-texto">
                    <div class="col-md-4"><p class="parrafo">¿QUÉ HACEMOS A TRAVÉS DE LA TECNOLOGÍA?</p></div>
                    <div class="col-md-8">
                        <div class="col-xs-4 task"><div><hr></div><p>RESOLVER PROBLEMAS PÚBLICOS Y SOCIALES</p></div>
                        <div class="col-xs-4 task"><div><hr></div><p>GENERAR NUEVAS FORMAS DE PARTICIPACIÓN CÍVICA</p></div>
                        <div class="col-xs-4 task"><div><hr></div><p>REFORMULAR LA RELACIÓN ENTRE GOBIERNO Y CIUDADANÍA</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Proyectos -->
    <div id="proyectos-codeando" class="container">
        <div class="text-center">
            <h3>Proyectos Abiertos</h3>
        </div>
        <div class="col-xs-12 proyectos">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="https://mapaton.org/" target="_blank">
                    <div class="box">
                        <div class="box-content">
                            <div class="hover-shadow"></div>
                            <%= image_tag('project1.png') %>
                            <h4>MapMap</h4>
                            <p><span>6</span> participantes</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="http://www.informebajolupa.mx/" target="_blank">
                    <div class="box">
                        <div class="box-content">
                            <div class="hover-shadow"></div>
                            <%= image_tag('project2.png') %>
                            <h4>Informe Bajo Lupa</h4>
                            <p><span>10</span> participantes</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    <span class="sr-only">40% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 margen-respo">
                <a href="http://datamx.io/" target="_blank">
                    <div class="box">
                        <div class="box-content">
                            <div class="hover-shadow"></div>
                            <%= image_tag('project3.png') %>
                            <h4>Datamx</h4>
                            <p><span>21</span> participantes</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 margen-respo">
                <a href="https://codeandomexico.org/retos/">
                    <div class="box">
                        <div class="box-content">
                            <div class="hover-shadow"></div>
                            <%= image_tag('project4.png') %>
                            <h4 class="otro-padding">Explora más proyectos</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Section: Proyectos -->
    <div class="container">
        <div class="text-center">
            <h3 class="other-margin-top">Participa</h3>
        </div>
        <div class="col-xs-12 participacion">
            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                <div class="user">
                    <%= image_tag('participa1.png', class: 'img-circle') %>
                </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                <h3 class="text-bold">Involúcrate</h3>
                <ul>
                    <li><span></span>Organiza o asiste a una noche de hacking cívico.</li>
                    <li class="active"><span class="active"></span>Documenta un proyecto  &lt;<a href="https://github.com/CodeandoMexico" target="_blank">Github</a>&gt;</li>
                    <li><span></span>Identifica un problema en tu comunidad. &lt;<a href="https://codeandomexico.org/lanza-un-reto">Formulario</a>&gt;</li>
                </ul>
            </div>
            <div class="clearfix"></div><br>
            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                <div class="user">
                    <%= image_tag('participa2.png', class: 'img-circle') %>
                </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                <h3 class="text-bold">Construye</h3>
                <ul>
                    <li><span></span>Abre un conjunto de datos &lt;<a href="http://datamx.io/" target="_blank">Datamx</a>&gt;</li>
                    <li><span></span>Contribuye a un proyecto existente  &lt;<a href="https://github.com/CodeandoMexico" target="_blank">Github</a>&gt;</li>
                    <li><span></span>Propón un proyecto nuevo &lt;<a href="https://codeandomexico.org/lanza-un-reto">Formulario</a>&gt;</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Section: Hackers -->
    <section class="container-hackers ">
        <div class="col-xs-12 no-padding">
            <div class="col-md-6 izq no-padding container-fluid">
                <h2>HACKERS CONSTRUYENDO UN MEJOR PAÍS</h2>
                <h3>Somos una comunidad abierta y orientada a la acción. Colaboramos en la construcción herramientas que resuelvan problemas públicos y sociales.</h3>
                <h4>MISIÓN _</h4>
                <p>Desarrollar tecnología para <span>construir un mejor país.</span></p>
            </div>
            <div class="col-md-6 der no-padding"></div>
        </div>
    </section>

    <!-- Section: Propósito -->
    <div class="container">
        <div class="text-center proposito">
            <h3 class="other-margin-top">Nuestro propósito</h3>
            <p>Codeando México es una comunidad tecnológica que busca desarrollar tecnología para construir un mejor país de manera abierta y colaborativa.</p>
            <a href="https://codeandomexico.org/registrate" class="btn unete">Únete</a>
            <h4 class="text-bold">Creemos en el potencial de la tecnología para:</h4>
                <ul class="no-point">
                    <li>&lt;<span class="circulo"> RESOLVER PROBLEMAS PÚBLICOS Y SOCIALES </span>&gt;</li>
                    <li>&lt;<span class="circulo change-color"> GENERAR NUEVAS FORMAS DE PARTICIPACIÓN CÍVICA </span>&gt;</li>
                    <li>&lt;<span class="circulo"> REFORMULAR LA RELACIÓN ENTRE GOBIERNO Y CIUDADANÍA </span>&gt;</li>
                </ul>
        </div>
    </div>

    <!-- Section: Newsletter -->
    <section class="container-newsletter">
        <div class="container">
            <div class="text-center newsletter">
                <h3 class="other-margin-top">Newsletter</h3>
                <p>¿Te interesa conocer más de nosotros? Suscríbete a nuestro boletín mensual &lt;<span class="color-red">equipo@codeandomexico.org</span>&gt;</p>
                <div class="container-form">
                    <form action="#">
                        <div class="input-group">
                            <input class="btn" name="email" id="email" type="email" placeholder="E-mail" required>
                            <button class="btn btn-info" type="submit">¡Suscríbete!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://codeandomexico.org"><%= image_tag('logo.png') %></a>
                <div class="menu-bottom">
                    <ul>
                        <li>Proyectos abiertos</li>
                        <li>Participa</li>
                        <li>Comunidad</li>
                        <li>Nuestro propósito</li>
                        <li>Newsletter</li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="facebook">
                        <a href="https://www.facebook.com/CodeandoMexico/" target="_blank">
                            <%= image_tag('face.png', class: 'img-circle') %>
                        </a>
                        <span>Facebook</span>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/codeandomexico" target="_blank">
                            <%= image_tag('twitter.png', class: 'img-circle') %>
                        </a>
                        <span>Twitter</span>
                    </li>
                    <li class="github">
                        <a href="https://github.com/CodeandoMexico" target="_blank">
                            <%= image_tag('github.png', class: 'img-circle') %>
                        </a>
                        <span>Github</span>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            <p class="text-left ajuste-texto-2">2017 | Creado por la comunidad de <a href="http://codeandoxalapa.org/" target="_blank">Codeando Xalapa</a> con <span class="glyphicon glyphicon-heart color-green"></span>.</p>
        </div><!--/.container -->
    </footer>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36672089-6', 'codeandomexico.org');
        ga('send', 'pageview');
    </script>

</body>

</html>
