<div class="row">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to 'Salir', destroy_user_session_path, method: 'delete' %>
      <%= link_to 'Editar mi cuenta', edit_user_registration_path %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="container">
    <h3>Hola, <%= @name %></h3>
    <% if current_user.repositories.count == 0 %>
      <p>No tienes repositorios, quieres sincronizarte con tu cuenta de github? </p>
      <%= link_to 'Sí, quiero sincronizar mi cuenta de github', omniauth_authorize_path(:user, :github) %>
    <% else %>
      <%= link_to 'Repositorios', repositories_path %>
    <% end %>
    <br>
    <% @repos.each do |repo| %>
      <%= repo.name %> <br>
    <% end %>
  </div>
</div>
