<p>Nombre: <%= @repo.name %></p>
<p>Descripción: <%= @repo.description %></p>
<p>Lenguaje: <%= @repo.language %></p>
<p>Estrellas: <%= @repo.stargazers_count %></p>
<% if @issues.length > 0 %>
  <p>Issues Abiertas: <%= @repo.open_issues %></p>
  <% @issues.each do |issue| %>
    <p>Issue #<%= issue.number %> | <%= issue.title %></p>
  <% end %>
<% else %>
  <p>No hay Issues en este repositorio</p>
<% end %>
