<div class="container">
  <p>Crea un proyecto nuevo</p>
  <%= form_for @project do |f| %>
    <div class="row">
      <%= f.label :nombre %>
      <%= f.text_field :name %>
    </div>
    <div class="row">
      <%= f.label :URL %>
      <%= f.text_field :url %>
    </div>
    <div class="row">
      <%= f.label :categoría %>
      <%= f.select :category, collection: Project.categories.keys.to_a %>
    </div>
    <div class="row">
      <p>Liga tu proyecto con un repositorio</p>
      <div class="row">
      </div>
      <div class="row">
        <%= f.select :repository_id, options_for(@user_repositories) %>
      </div>
    </div>
    <div class="row">
      <%= f.label :acerca %> <br>
      <%= f.text_area :about %>
    </div>
    <div class="row">
      <%= f.label :fase %>
      <%= f.select :phase, collection: Project.phases.keys.to_a %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :introducción %>
        <%= f.date_field :introduction %>
      </div>
      <div class="col-md-6">
        <%= f.label :conclusión %>
        <%= f.date_field :conclusion %>
      </div>
    </div>
    <div class="row">
      <%= f.fields_for :references do |reference| %>
        <%= render 'reference_fields', f: reference %> <br>
      <% end %>
      <%= link_to_add_association 'Agregar referencia', f, :references %>
    </div>
    <div class="row">
      <%= f.submit 'Crear Proyecto' %>
    </div>
  <% end %>
</div>
