<!DOCTYPE html>
<html>
  <head>
    <title>Codeandomexico</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Un espacio de innovación abierta de interacción entre organizaciones de la Sociedad Civil y la comunidad tecnológica para proponer soluciones a temas cívicos.">
    <meta name="keywords" content="hacking cívico, codeando méxico, innovación abierta , sociedad civil, comunidades">
    <meta name="author" content="Comunidad de Codeando México">

    <title>Codeando México</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
